fastapi==0.111.1
uvicorn
python-multipart
aiofiles
requests
torch
torchvision
torchaudio
faiss-cpu
numpy
pandas
opencv-python
Pillow
scikit-learn
matplotlib
seaborn
python-dotenv
tqdm
pydantic==2.8.0
typing-extensions
